<% if resource.errors.any? %>
  <div id="error_explanation d-flex flex-wrap justify-content-center align-items-center fixed-bottom m-5 w-50">
    
      <% resource.errors.full_messages.each do |message| %>
        <div class="alert alert-danger text-center m-3" role="alert"><%= message %></div>
      <% end %>
    
  </div>
<% end %>
